<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title><%- title %></title>
    <link rel="icon" type="image/png" sizes="96x96" href="<%- base %>img/icons/favicon-96x96.png">
    <meta name="theme-color" content="#57149f">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="<%- title %>">
    <link rel="apple-touch-icon" href="<%- base %>img/icons/ios/180.png">
    <meta name="darkreader-lock">
</head>
<body>
<div id="app"></div>
<script type="module" src="/src/main.js"></script>
</body>
</html>
